
project.properties

libs/android-support-v4.jar

proguard-project.txt

bin/AndroidManifest.xml

bin/classes.dex

bin/classes/com/example/taxcalc/BuildConfig.class

bin/classes/com/example/taxcalc/Calculator.class

bin/classes/com/example/taxcalc/Calculator$1.class

bin/classes/com/example/taxcalc/Calculator$2.class

bin/classes/com/example/taxcalc/Calculator$3.class

bin/classes/com/example/taxcalc/Calculator$4.class

bin/classes/com/example/taxcalc/Calculator$EqualOperator.class

bin/classes/com/example/taxcalc/Calculator$Operand.class

bin/classes/com/example/taxcalc/Calculator$Operator.class

.classpath

.project

bin/classes/com/example/taxcalc/CalculatorActivity.class

bin/classes/com/example/taxcalc/ConfigActivity.class

bin/classes/com/example/taxcalc/MyPreferenceFragment.class

bin/classes/com/example/taxcalc/MyPreferenceFragment$1.class

bin/classes/com/example/taxcalc/MyPreferenceFragment$Value.class

bin/classes/com/example/taxcalc/MyWidget.class

*.class

bin/dexedLibs/android-support-v4-a49d29e1721338aa4f85e1df9a0c1dfe.jar

bin/jarlist.cache

bin/res/crunch/drawable-hdpi/ic_launcher.png

bin/res/crunch/drawable-mdpi/ic_launcher.png

bin/res/crunch/drawable-xhdpi/ic_launcher.png

bin/res/crunch/drawable-xxhdpi/ic_launcher.png

bin/resources.ap_

bin/taxcalc.apk

gen/com/example/taxcalc/BuildConfig.java

gen/com/example/taxcalc/R.java
